nav {
    padding: 16px 0 0 0;
    background: #0F4C8E;
}

nav h1 {
    color: white;
    font-size: 1.6em;
}

main {
    margin: 32px 0;
}

nav .search,
nav .input,
nav input {
    width: 100%;
}

nav .ui.input > input {
    border: 0;
}

.ui.secondary.menu.categories {
    background: white;
    border-bottom: 2px solid red;
}

footer {
    margin: 128px 0 0 0;
}

footer section.primary {
    background: #0F4C8E;
    color: white;
}

footer .footer.title {
    text-align: center;
}

footer .footer.title h1 {
    padding: 48px 0;
    margin: 16px 0;
}

.vertical-padding-12 {
    padding: 12px 0;
}