/* --- Navigation ------------------------------------------- */
nav {
    padding: 16px 0 0 0;
}

nav h1 {
    color: white;
    font-size: 1.6em;
}

main {
    margin: 32px 0;
}

nav .search,
nav .input,
nav input {
    width: 100%;
}

nav .ui.input > input {
    border: 0;
}

.ui.secondary.menu.categories {
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* user dropdown */
.accountdropdown .image img{
    padding: 8px;
}
.accountdropdown .text,
.accountdropdown i,
.favoritesdropdown i{
    color: white;
}

.accountdropdown .text span:first-child {
    display: block;
    padding-bottom: 6px;
}
.accountdropdown .text span:last-child {
    display: block;
}
.logo{
    padding: 20px 0;
}
.account-login{
    width: 100%;
    float: right;
}
.mobile-button{
    padding: 16px 0 !important;
}
.categories-list a{
    display: block;
    color: black;
    transition: all 0.3s ease;
}

.categories-list .column a:first-of-type{
    font-size: 1.2em;
    line-height: 2em;
    color: black;
    font-weight: bold;
}

.categories-list .column a:hover{
    color: #0F4C8E;
}
.categories-navbar-list{
    padding: 16px 0 !important;
}
.categories-navbar-list .column {
    padding: 6px 0 !important;
    text-align: left !important;
}
.categories-navbar-list .column a{
    color: black;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}
.categories-navbar-list .column a:hover{
    color: #3772FF;
}
.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg .profilepicture{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.changeprice{
    margin-top: 32px;
}


/* --- Category dropdown in Category.php ---------------- */
.cat-list {
    height: 77px;
    overflow: hidden;
}
.cat-list a{
    display: block;
}
#cat-toggle {
    display: none;
}
#cat-toggle + label:after {
    content:">> Meer Categorieën";
}
.cat-list.toggled{
    height: auto;
    overflow: auto;
}
#cat-toggle:checked + label:after {
    content:"<< Minder Categorieën";
}

/* --- Footer ------------------------------------------- */

footer {
    margin: 128px 0 0 0;
}

footer section.primary {
    background: #0F4C8E;
    color: white;
}

footer .footer.title {
    text-align: center;
}

footer .footer.title h1 {
    padding: 48px 0;
    margin: 16px 0;
}

.selling-point i {
    margin-bottom: 12px;
}

.selling-point p {
    margin: 0;
}

.features-step{
    text-align: left;
}

#search {
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    nav > .main-nav {
        padding-bottom: 16px !important;
    }
}

/* --- SYSTEM MESSAGES ----------------------------------------- */
.systemMessage {
    margin: 32px 0;
}

/* --- PRODUCT CARDS -------------------------------------------- */
.ui.card.productcards > .image > img {
    height: 200px;
    object-fit: contain;
    background: white;
}

.ui.card.productcards > .content {
    min-height: 165px;
}

.product.productcards{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-sizing: unset;
}

/* --- ADD Auction page ----------------------------------------- */
.addAuction label{
    display: block;
    margin: 16px 0 6px 0;
    font-weight: bold;
}

/* Product page images */
@-webkit-keyframes fadeImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.product-image {
    display: none;
}

.image-list li {
    margin: 0;
}
.product-image img,
.image-list img {
    width: 100%;
}

.product-image {
    display: block;
}
.product-image img {
    height: 52vh;
    object-fit: contain;
}
.product-image img.active {
    display: block;
    margin: 0 0 0.75rem 0;
}

.image-list {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    list-style: none;
    padding: 0;
}
.image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
}
.image-list li:nth-child(3) {
    margin: 0;
}
.image-list img {
    height: 10rem;
    width: 100%;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    cursor: pointer;
    object-fit: cover;
}
.image-list img:hover {
    opacity: 0.7;
}

/* --- Admin stuff ------------------------------------------- */
.adminbar {
    background: #0a3360;
    color: white;
    padding: 16px 0;
}
.admintitle{
    padding: 8px 0;
}
.itemhidden {
    border: 2px solid red !important;
}

/* --- Bidlist -------------------------------------------------- */
.bidlist {
    list-style: none;
    padding: 0;
}

.bidlist > li {
    list-style: none;
    padding: 8px 0;
}

.bidlist > li :first-child{
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    background: #3772FF;
    margin-right: 6px;
    border-radius: 5px;
}

.makebid.description{
    width: 100% !important;
}


/* --- Text modifiers ------------------------------------------- */
.bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.link-white,.link-white:hover {
    color: white;
}

/* --- Padding modifiers ------------------------------------------- */
.nopadding{
    padding: 0 !important;
}
.vertical-padding-6 {
    padding: 6px 0;
}

.vertical-padding-12 {
    padding: 12px 0;
}

.top-padding-12 {
    padding-top: 12px;
}

.horizontal-padding-6 {
    padding: 0 6px;
}

.horizontal-padding-12 {
    padding: 0 12px;
}
/* --- Margin modifiers ------------------------------------------- */

.vertical-margin-6 {
    margin: 6px 0;
}

.vertical-margin-12 {
    margin: 12px 0;
}

.top-margin-12 {
    margin: 12px 0 0 0;
}

.vertical-margin-24 {
    margin: 24px 0;
}

.horizontal-margin-6 {
    margin: 0 6px;
}

.horizontal-margin-12 {
    margin: 0 12px;
}
/* --- Other modifiers ------------------------------------------- */
.white{
    color: white;
}

.primary.background {
    background: #3772FF;
}

.primary.text {
    color: #3772FF;
}

.secondary.background {
    background: #0F4C8E;
}

.secondary.text {
    background: #0F4C8E;
}

.hidden-element{
    display: none;
}

.full-width{
    width: 100%;
}

/* --- Custom hiders ------------------------------------------- */
/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
        display: none !important;
    }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
    }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
    }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
        display: none !important;
    }
}
