# IDE Specific files/folder
.idea
.vscode

#Ignore MACOS files/folder
.DS_Store
.AppleDouble
.LSOverride

# Build tool specific stuff for Semantic UI
node_modules
package.json
package-lock.json
semantic.json
build/semantic

public/upload/profilepictures/*.png
public/upload/profilepictures/*.jpg
public/upload/profilepictures/*.gif