/* --- Navigation ------------------------------------------- */
nav {
    padding: 16px 0 0 0;
    background: #0F4C8E;
}

nav h1 {
    color: white;
    font-size: 1.6em;
}

main {
    margin: 32px 0;
}

nav .search,
nav .input,
nav input {
    width: 100%;
}

nav .ui.input > input {
    border: 0;
}

.ui.secondary.menu.categories {
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* user dropdown */
.accountdropdown .image img{
    padding: 8px;
}
.accountdropdown .text,
.accountdropdown i,
.favoritesdropdown i{
    color: white;
}

.accountdropdown .text span:first-child {
    display: block;
    padding-bottom: 6px;
}
.accountdropdown .text span:last-child {
    display: block;
}
.logo{
    padding: 20px 0;
}
.account-login{
    width: 100%;
    float: right;
}
.mobile-button{
    padding: 16px 0 !important;
}
/* --- Footer ------------------------------------------- */

footer {
    margin: 128px 0 0 0;
}

footer section.primary {
    background: #0F4C8E;
    color: white;
}

footer .footer.title {
    text-align: center;
}

footer .footer.title h1 {
    padding: 48px 0;
    margin: 16px 0;
}

.selling-point i {
    margin-bottom: 12px;
}

.selling-point p {
    margin: 0;
}

.features-step{
    text-align: left;
}

#search {
    margin: 0;
}

/* --- Text modifiers ------------------------------------------- */
.bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}

/* --- Padding modifiers ------------------------------------------- */
.nopadding{
    padding: 0 !important;
}
.vertical-padding-6 {
    padding: 6px 0;
}

.vertical-padding-12 {
    padding: 12px 0;
}

.top-padding-12 {
    padding-top: 12px;
}

.horizontal-padding-6 {
    padding: 0 6px;
}

.horizontal-padding-12 {
    padding: 0 12px;
}
/* --- Margin modifiers ------------------------------------------- */
.vertical-margin-6 {
    margin: 6px 0;
}

.vertical-margin-12 {
    margin: 12px 0;
}

.vertical-margin-24 {
    margin: 24px 0;
}

.horizontal-margin-6 {
    margin: 0 6px;
}

.horizontal-margin-12 {
    margin: 0 12px;
}
/* --- Other modifiers ------------------------------------------- */
.white{
    color: white;
}
